{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier"
  ],
  "rules": {
    "import/no-import-module-exports": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
